/*!**************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/scss/index.scss ***!
  \**************************************************************************************************************/
@font-face {
  font-family: "Montserrat";
  src: url(..//fonts/Montserrat-VariableFont_wght.ttf);
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
.widget-wrapper .widget-title {
  font-size: 0.7rem;
}
.widget-wrapper .widget-inner .widget {
  padding: 5px;
  font-size: 0.7rem;
}
.widget-wrapper .widget-inner .widget .scale .needle {
  transition: transform 1s ease-out;
}
.widget-wrapper .widget-inner .widget .scale .bar::after {
  background: black;
  position: absolute;
  width: 2%;
  height: 1px;
  left: 6px;
  content: "";
}
.widget-wrapper .widget-inner .widget .scale .digital {
  width: 30%;
  bottom: 30%;
  padding: 0 4px;
}

.speedometer.scale .needle {
  transform: rotate(calc(5.6666666667deg * var(--speed) / 5 - 80deg));
  height: 90%;
}
.speedometer.scale .bar:nth-child(1 of .bar) {
  transform: rotate(10deg);
}
.speedometer.scale .bar:nth-child(2 of .bar) {
  transform: rotate(15.6666666667deg);
}
.speedometer.scale .bar:nth-child(3 of .bar) {
  transform: rotate(21.3333333333deg);
}
.speedometer.scale .bar:nth-child(4 of .bar) {
  transform: rotate(27deg);
}
.speedometer.scale .bar:nth-child(5 of .bar) {
  transform: rotate(32.6666666667deg);
}
.speedometer.scale .bar:nth-child(6 of .bar) {
  transform: rotate(38.3333333333deg);
}
.speedometer.scale .bar:nth-child(7 of .bar) {
  transform: rotate(44deg);
}
.speedometer.scale .bar:nth-child(8 of .bar) {
  transform: rotate(49.6666666667deg);
}
.speedometer.scale .bar:nth-child(9 of .bar) {
  transform: rotate(55.3333333333deg);
}
.speedometer.scale .bar:nth-child(10 of .bar) {
  transform: rotate(61deg);
}
.speedometer.scale .bar:nth-child(11 of .bar) {
  transform: rotate(66.6666666667deg);
}
.speedometer.scale .bar:nth-child(12 of .bar) {
  transform: rotate(72.3333333333deg);
}
.speedometer.scale .bar:nth-child(13 of .bar) {
  transform: rotate(78deg);
}
.speedometer.scale .bar:nth-child(14 of .bar) {
  transform: rotate(83.6666666667deg);
}
.speedometer.scale .bar:nth-child(15 of .bar) {
  transform: rotate(89.3333333333deg);
}
.speedometer.scale .bar:nth-child(16 of .bar) {
  transform: rotate(95deg);
}
.speedometer.scale .bar:nth-child(17 of .bar) {
  transform: rotate(100.6666666667deg);
}
.speedometer.scale .bar:nth-child(18 of .bar) {
  transform: rotate(106.3333333333deg);
}
.speedometer.scale .bar:nth-child(19 of .bar) {
  transform: rotate(112deg);
}
.speedometer.scale .bar:nth-child(20 of .bar) {
  transform: rotate(117.6666666667deg);
}
.speedometer.scale .bar:nth-child(21 of .bar) {
  transform: rotate(123.3333333333deg);
}
.speedometer.scale .bar:nth-child(22 of .bar) {
  transform: rotate(129deg);
}
.speedometer.scale .bar:nth-child(23 of .bar) {
  transform: rotate(134.6666666667deg);
}
.speedometer.scale .bar:nth-child(24 of .bar) {
  transform: rotate(140.3333333333deg);
}
.speedometer.scale .bar:nth-child(25 of .bar) {
  transform: rotate(146deg);
}
.speedometer.scale .bar:nth-child(26 of .bar) {
  transform: rotate(151.6666666667deg);
}
.speedometer.scale .bar:nth-child(27 of .bar) {
  transform: rotate(157.3333333333deg);
}
.speedometer.scale .bar:nth-child(28 of .bar) {
  transform: rotate(163deg);
}
.speedometer.scale .bar:nth-child(29 of .bar) {
  transform: rotate(168.6666666667deg);
}
.speedometer.scale .bar:nth-child(30 of .bar) {
  transform: rotate(174.3333333333deg);
}
.speedometer.scale .bar:nth-child(31 of .bar) {
  transform: rotate(180deg);
}
.speedometer.scale .bar:nth-child(32 of .bar) {
  transform: rotate(185.6666666667deg);
}
.speedometer.scale .bar:nth-child(33 of .bar) {
  transform: rotate(191.3333333333deg);
}
.speedometer.scale .bar:nth-child(34 of .bar) {
  transform: rotate(197deg);
}
.speedometer.scale .bar:nth-child(35 of .bar) {
  transform: rotate(202.6666666667deg);
}
.speedometer.scale .bar:nth-child(36 of .bar) {
  transform: rotate(208.3333333333deg);
}
.speedometer.scale .bar:nth-child(37 of .bar) {
  transform: rotate(214deg);
}
.speedometer.scale .bar:nth-child(38 of .bar) {
  transform: rotate(219.6666666667deg);
}
.speedometer.scale .bar:nth-child(39 of .bar) {
  transform: rotate(225.3333333333deg);
}
.speedometer.scale .bar:nth-child(40 of .bar) {
  transform: rotate(231deg);
}
.speedometer.scale .bar:nth-child(41 of .bar) {
  transform: rotate(236.6666666667deg);
}
.speedometer.scale .bar:nth-child(42 of .bar) {
  transform: rotate(242.3333333333deg);
}
.speedometer.scale .bar:nth-child(43 of .bar) {
  transform: rotate(248deg);
}
.speedometer.scale .bar:nth-child(44 of .bar) {
  transform: rotate(253.6666666667deg);
}
.speedometer.scale .bar:nth-child(45 of .bar) {
  transform: rotate(259.3333333333deg);
}
.speedometer.scale .bar:nth-child(46 of .bar) {
  transform: rotate(265deg);
}
.speedometer.scale .bar:nth-child(47 of .bar) {
  transform: rotate(270.6666666667deg);
}
.speedometer.scale .bar:nth-child(48 of .bar) {
  transform: rotate(276.3333333333deg);
}
.speedometer.scale .bar:nth-child(49 of .bar) {
  transform: rotate(282deg);
}
.speedometer.scale .bar:nth-child(50 of .bar) {
  transform: rotate(287.6666666667deg);
}
.speedometer.scale .bar:nth-child(51 of .bar) {
  transform: rotate(293.3333333333deg);
}
.speedometer.scale .bar:nth-child(52 of .bar) {
  transform: rotate(299deg);
}
.speedometer.scale .bar:nth-child(53 of .bar) {
  transform: rotate(304.6666666667deg);
}
.speedometer.scale .bar:nth-child(54 of .bar) {
  transform: rotate(310.3333333333deg);
}
.speedometer.scale .bar:nth-child(55 of .bar) {
  transform: rotate(316deg);
}
.speedometer.scale .bar:nth-child(56 of .bar) {
  transform: rotate(321.6666666667deg);
}
.speedometer.scale .bar:nth-child(57 of .bar) {
  transform: rotate(327.3333333333deg);
}
.speedometer.scale .bar:nth-child(58 of .bar) {
  transform: rotate(333deg);
}
.speedometer.scale .bar:nth-child(59 of .bar) {
  transform: rotate(338.6666666667deg);
}
.speedometer.scale .bar:nth-child(60 of .bar) {
  transform: rotate(344.3333333333deg);
}
.speedometer.scale .bar:nth-child(61 of .bar) {
  transform: rotate(350deg);
}
.speedometer.scale .bar:nth-child(odd of .bar):after {
  width: 4%;
  height: 2px;
}
.speedometer.scale .number {
  width: 84%;
}
.speedometer.scale .number:nth-child(1 of .number) {
  transform: rotate(10deg);
}
.speedometer.scale .number:nth-child(1 of .number) span {
  transform: rotate(-10deg);
}
.speedometer.scale .number:nth-child(2 of .number) {
  transform: rotate(32.6666666667deg);
}
.speedometer.scale .number:nth-child(2 of .number) span {
  transform: rotate(-32.6666666667deg);
}
.speedometer.scale .number:nth-child(3 of .number) {
  transform: rotate(55.3333333333deg);
}
.speedometer.scale .number:nth-child(3 of .number) span {
  transform: rotate(-55.3333333333deg);
}
.speedometer.scale .number:nth-child(4 of .number) {
  transform: rotate(78deg);
}
.speedometer.scale .number:nth-child(4 of .number) span {
  transform: rotate(-78deg);
}
.speedometer.scale .number:nth-child(5 of .number) {
  transform: rotate(100.6666666667deg);
}
.speedometer.scale .number:nth-child(5 of .number) span {
  transform: rotate(-100.6666666667deg);
}
.speedometer.scale .number:nth-child(6 of .number) {
  transform: rotate(123.3333333333deg);
}
.speedometer.scale .number:nth-child(6 of .number) span {
  transform: rotate(-123.3333333333deg);
}
.speedometer.scale .number:nth-child(7 of .number) {
  transform: rotate(146deg);
}
.speedometer.scale .number:nth-child(7 of .number) span {
  transform: rotate(-146deg);
}
.speedometer.scale .number:nth-child(8 of .number) {
  transform: rotate(168.6666666667deg);
}
.speedometer.scale .number:nth-child(8 of .number) span {
  transform: rotate(-168.6666666667deg);
}
.speedometer.scale .number:nth-child(9 of .number) {
  transform: rotate(191.3333333333deg);
}
.speedometer.scale .number:nth-child(9 of .number) span {
  transform: rotate(-191.3333333333deg);
}
.speedometer.scale .number:nth-child(10 of .number) {
  transform: rotate(214deg);
}
.speedometer.scale .number:nth-child(10 of .number) span {
  transform: rotate(-214deg);
}
.speedometer.scale .number:nth-child(11 of .number) {
  transform: rotate(236.6666666667deg);
}
.speedometer.scale .number:nth-child(11 of .number) span {
  transform: rotate(-236.6666666667deg);
}
.speedometer.scale .number:nth-child(12 of .number) {
  transform: rotate(259.3333333333deg);
}
.speedometer.scale .number:nth-child(12 of .number) span {
  transform: rotate(-259.3333333333deg);
}
.speedometer.scale .number:nth-child(13 of .number) {
  transform: rotate(282deg);
}
.speedometer.scale .number:nth-child(13 of .number) span {
  transform: rotate(-282deg);
}
.speedometer.scale .number:nth-child(14 of .number) {
  transform: rotate(304.6666666667deg);
}
.speedometer.scale .number:nth-child(14 of .number) span {
  transform: rotate(-304.6666666667deg);
}
.speedometer.scale .number:nth-child(15 of .number) {
  transform: rotate(327.3333333333deg);
}
.speedometer.scale .number:nth-child(15 of .number) span {
  transform: rotate(-327.3333333333deg);
}
.speedometer.scale .number:nth-child(16 of .number) {
  transform: rotate(350deg);
}
.speedometer.scale .number:nth-child(16 of .number) span {
  transform: rotate(-350deg);
}

.altimeter.scale .needle.needle-tenthousand {
  transform: rotate(calc(36deg * var(--rotation-altitude) / 10000));
}
.altimeter.scale .needle.needle-thousands {
  transform: rotate(calc(36deg * var(--rotation-altitude) / 1000));
  height: 50%;
}
.altimeter.scale .needle.needle-hundreds {
  transform: rotate(calc(36deg * var(--rotation-altitude) / 100));
  height: 95%;
}
.altimeter.scale .bar:nth-child(1 of .bar) {
  transform: rotate(90deg);
}
.altimeter.scale .bar:nth-child(2 of .bar) {
  transform: rotate(97.2deg);
}
.altimeter.scale .bar:nth-child(3 of .bar) {
  transform: rotate(104.4deg);
}
.altimeter.scale .bar:nth-child(4 of .bar) {
  transform: rotate(111.6deg);
}
.altimeter.scale .bar:nth-child(5 of .bar) {
  transform: rotate(118.8deg);
}
.altimeter.scale .bar:nth-child(6 of .bar) {
  transform: rotate(126deg);
}
.altimeter.scale .bar:nth-child(7 of .bar) {
  transform: rotate(133.2deg);
}
.altimeter.scale .bar:nth-child(8 of .bar) {
  transform: rotate(140.4deg);
}
.altimeter.scale .bar:nth-child(9 of .bar) {
  transform: rotate(147.6deg);
}
.altimeter.scale .bar:nth-child(10 of .bar) {
  transform: rotate(154.8deg);
}
.altimeter.scale .bar:nth-child(11 of .bar) {
  transform: rotate(162deg);
}
.altimeter.scale .bar:nth-child(12 of .bar) {
  transform: rotate(169.2deg);
}
.altimeter.scale .bar:nth-child(13 of .bar) {
  transform: rotate(176.4deg);
}
.altimeter.scale .bar:nth-child(14 of .bar) {
  transform: rotate(183.6deg);
}
.altimeter.scale .bar:nth-child(15 of .bar) {
  transform: rotate(190.8deg);
}
.altimeter.scale .bar:nth-child(16 of .bar) {
  transform: rotate(198deg);
}
.altimeter.scale .bar:nth-child(17 of .bar) {
  transform: rotate(205.2deg);
}
.altimeter.scale .bar:nth-child(18 of .bar) {
  transform: rotate(212.4deg);
}
.altimeter.scale .bar:nth-child(19 of .bar) {
  transform: rotate(219.6deg);
}
.altimeter.scale .bar:nth-child(20 of .bar) {
  transform: rotate(226.8deg);
}
.altimeter.scale .bar:nth-child(21 of .bar) {
  transform: rotate(234deg);
}
.altimeter.scale .bar:nth-child(22 of .bar) {
  transform: rotate(241.2deg);
}
.altimeter.scale .bar:nth-child(23 of .bar) {
  transform: rotate(248.4deg);
}
.altimeter.scale .bar:nth-child(24 of .bar) {
  transform: rotate(255.6deg);
}
.altimeter.scale .bar:nth-child(25 of .bar) {
  transform: rotate(262.8deg);
}
.altimeter.scale .bar:nth-child(26 of .bar) {
  transform: rotate(270deg);
}
.altimeter.scale .bar:nth-child(27 of .bar) {
  transform: rotate(277.2deg);
}
.altimeter.scale .bar:nth-child(28 of .bar) {
  transform: rotate(284.4deg);
}
.altimeter.scale .bar:nth-child(29 of .bar) {
  transform: rotate(291.6deg);
}
.altimeter.scale .bar:nth-child(30 of .bar) {
  transform: rotate(298.8deg);
}
.altimeter.scale .bar:nth-child(31 of .bar) {
  transform: rotate(306deg);
}
.altimeter.scale .bar:nth-child(32 of .bar) {
  transform: rotate(313.2deg);
}
.altimeter.scale .bar:nth-child(33 of .bar) {
  transform: rotate(320.4deg);
}
.altimeter.scale .bar:nth-child(34 of .bar) {
  transform: rotate(327.6deg);
}
.altimeter.scale .bar:nth-child(35 of .bar) {
  transform: rotate(334.8deg);
}
.altimeter.scale .bar:nth-child(36 of .bar) {
  transform: rotate(342deg);
}
.altimeter.scale .bar:nth-child(37 of .bar) {
  transform: rotate(349.2deg);
}
.altimeter.scale .bar:nth-child(38 of .bar) {
  transform: rotate(356.4deg);
}
.altimeter.scale .bar:nth-child(39 of .bar) {
  transform: rotate(363.6deg);
}
.altimeter.scale .bar:nth-child(40 of .bar) {
  transform: rotate(370.8deg);
}
.altimeter.scale .bar:nth-child(41 of .bar) {
  transform: rotate(378deg);
}
.altimeter.scale .bar:nth-child(42 of .bar) {
  transform: rotate(385.2deg);
}
.altimeter.scale .bar:nth-child(43 of .bar) {
  transform: rotate(392.4deg);
}
.altimeter.scale .bar:nth-child(44 of .bar) {
  transform: rotate(399.6deg);
}
.altimeter.scale .bar:nth-child(45 of .bar) {
  transform: rotate(406.8deg);
}
.altimeter.scale .bar:nth-child(46 of .bar) {
  transform: rotate(414deg);
}
.altimeter.scale .bar:nth-child(47 of .bar) {
  transform: rotate(421.2deg);
}
.altimeter.scale .bar:nth-child(48 of .bar) {
  transform: rotate(428.4deg);
}
.altimeter.scale .bar:nth-child(49 of .bar) {
  transform: rotate(435.6deg);
}
.altimeter.scale .bar:nth-child(50 of .bar) {
  transform: rotate(442.8deg);
}
.altimeter.scale .bar:nth-child(51 of .bar) {
  transform: rotate(450deg);
}
.altimeter.scale .bar:nth-child(5n+1 of .bar):after {
  width: 4%;
  height: 2px;
}
.altimeter.scale .number {
  width: 82%;
}
.altimeter.scale .number span {
  font-size: 1rem;
}
.altimeter.scale .number:nth-child(1 of .number) {
  transform: rotate(90deg);
}
.altimeter.scale .number:nth-child(1 of .number) span {
  transform: rotate(-90deg);
}
.altimeter.scale .number:nth-child(2 of .number) {
  transform: rotate(126deg);
}
.altimeter.scale .number:nth-child(2 of .number) span {
  transform: rotate(-126deg);
}
.altimeter.scale .number:nth-child(3 of .number) {
  transform: rotate(162deg);
}
.altimeter.scale .number:nth-child(3 of .number) span {
  transform: rotate(-162deg);
}
.altimeter.scale .number:nth-child(4 of .number) {
  transform: rotate(198deg);
}
.altimeter.scale .number:nth-child(4 of .number) span {
  transform: rotate(-198deg);
}
.altimeter.scale .number:nth-child(5 of .number) {
  transform: rotate(234deg);
}
.altimeter.scale .number:nth-child(5 of .number) span {
  transform: rotate(-234deg);
}
.altimeter.scale .number:nth-child(6 of .number) {
  transform: rotate(270deg);
}
.altimeter.scale .number:nth-child(6 of .number) span {
  transform: rotate(-270deg);
}
.altimeter.scale .number:nth-child(7 of .number) {
  transform: rotate(306deg);
}
.altimeter.scale .number:nth-child(7 of .number) span {
  transform: rotate(-306deg);
}
.altimeter.scale .number:nth-child(8 of .number) {
  transform: rotate(342deg);
}
.altimeter.scale .number:nth-child(8 of .number) span {
  transform: rotate(-342deg);
}
.altimeter.scale .number:nth-child(9 of .number) {
  transform: rotate(378deg);
}
.altimeter.scale .number:nth-child(9 of .number) span {
  transform: rotate(-378deg);
}
.altimeter.scale .number:nth-child(10 of .number) {
  transform: rotate(414deg);
}
.altimeter.scale .number:nth-child(10 of .number) span {
  transform: rotate(-414deg);
}

.variometer.scale .needle {
  transform: rotate(calc(8deg * var(--vertical-speed) / 100 - 90deg));
  height: 70%;
}
.variometer.scale .bar:nth-child(1 of .bar) {
  transform: rotate(0deg);
}
.variometer.scale .bar:nth-child(2 of .bar) {
  transform: rotate(40deg);
}
.variometer.scale .bar:nth-child(3 of .bar) {
  transform: rotate(80deg);
}
.variometer.scale .bar:nth-child(4 of .bar) {
  transform: rotate(120deg);
}
.variometer.scale .bar:nth-child(5 of .bar) {
  transform: rotate(160deg);
}
.variometer.scale .bar:nth-child(6 of .bar) {
  transform: rotate(200deg);
}
.variometer.scale .bar:nth-child(7 of .bar) {
  transform: rotate(240deg);
}
.variometer.scale .bar:nth-child(8 of .bar) {
  transform: rotate(280deg);
}
.variometer.scale .bar:nth-child(9 of .bar) {
  transform: rotate(320deg);
}
.variometer.scale .bar:nth-child(-n+8 of .bar):after {
  width: 4%;
  height: 2px;
}
.variometer.scale .bar:nth-child(10 of .bar) {
  transform: rotate(-72deg);
}
.variometer.scale .bar:nth-child(11 of .bar) {
  transform: rotate(-64deg);
}
.variometer.scale .bar:nth-child(12 of .bar) {
  transform: rotate(-56deg);
}
.variometer.scale .bar:nth-child(13 of .bar) {
  transform: rotate(-48deg);
}
.variometer.scale .bar:nth-child(14 of .bar) {
  transform: rotate(-40deg);
}
.variometer.scale .bar:nth-child(15 of .bar) {
  transform: rotate(-32deg);
}
.variometer.scale .bar:nth-child(16 of .bar) {
  transform: rotate(-24deg);
}
.variometer.scale .bar:nth-child(17 of .bar) {
  transform: rotate(-16deg);
}
.variometer.scale .bar:nth-child(18 of .bar) {
  transform: rotate(-8deg);
}
.variometer.scale .bar:nth-child(19 of .bar) {
  transform: rotate(0deg);
}
.variometer.scale .bar:nth-child(20 of .bar) {
  transform: rotate(8deg);
}
.variometer.scale .bar:nth-child(21 of .bar) {
  transform: rotate(16deg);
}
.variometer.scale .bar:nth-child(22 of .bar) {
  transform: rotate(24deg);
}
.variometer.scale .bar:nth-child(23 of .bar) {
  transform: rotate(32deg);
}
.variometer.scale .bar:nth-child(24 of .bar) {
  transform: rotate(40deg);
}
.variometer.scale .bar:nth-child(25 of .bar) {
  transform: rotate(48deg);
}
.variometer.scale .bar:nth-child(26 of .bar) {
  transform: rotate(56deg);
}
.variometer.scale .bar:nth-child(27 of .bar) {
  transform: rotate(64deg);
}
.variometer.scale .bar:nth-child(28 of .bar) {
  transform: rotate(72deg);
}
.variometer.scale .number {
  width: 82%;
}
.variometer.scale .number span {
  font-size: 1rem;
}
.variometer.scale .number:nth-child(1 of .number) {
  transform: rotate(0deg);
}
.variometer.scale .number:nth-child(1 of .number) span {
  transform: rotate(0deg);
}
.variometer.scale .number:nth-child(2 of .number) {
  transform: rotate(40deg);
}
.variometer.scale .number:nth-child(2 of .number) span {
  transform: rotate(-40deg);
}
.variometer.scale .number:nth-child(3 of .number) {
  transform: rotate(80deg);
}
.variometer.scale .number:nth-child(3 of .number) span {
  transform: rotate(-80deg);
}
.variometer.scale .number:nth-child(4 of .number) {
  transform: rotate(120deg);
}
.variometer.scale .number:nth-child(4 of .number) span {
  transform: rotate(-120deg);
}
.variometer.scale .number:nth-child(5 of .number) {
  transform: rotate(160deg);
}
.variometer.scale .number:nth-child(5 of .number) span {
  transform: rotate(-160deg);
}
.variometer.scale .number:nth-child(6 of .number) {
  transform: rotate(200deg);
}
.variometer.scale .number:nth-child(6 of .number) span {
  transform: rotate(-200deg);
}
.variometer.scale .number:nth-child(7 of .number) {
  transform: rotate(240deg);
}
.variometer.scale .number:nth-child(7 of .number) span {
  transform: rotate(-240deg);
}
.variometer.scale .number:nth-child(8 of .number) {
  transform: rotate(280deg);
}
.variometer.scale .number:nth-child(8 of .number) span {
  transform: rotate(-280deg);
}
.variometer.scale .number:nth-child(9 of .number) {
  transform: rotate(320deg);
}
.variometer.scale .number:nth-child(9 of .number) span {
  transform: rotate(-320deg);
}

.compass.scale .needle {
  transform: rotate(-0.5deg);
}
.compass.scale .bar:nth-child(1 of .bar) {
  transform: rotate(calc(0deg - var(--heading) * 1deg));
}
.compass.scale .bar:nth-child(2 of .bar) {
  transform: rotate(calc(5deg - var(--heading) * 1deg));
}
.compass.scale .bar:nth-child(3 of .bar) {
  transform: rotate(calc(10deg - var(--heading) * 1deg));
}
.compass.scale .bar:nth-child(4 of .bar) {
  transform: rotate(calc(15deg - var(--heading) * 1deg));
}
.compass.scale .bar:nth-child(5 of .bar) {
  transform: rotate(calc(20deg - var(--heading) * 1deg));
}
.compass.scale .bar:nth-child(6 of .bar) {
  transform: rotate(calc(25deg - var(--heading) * 1deg));
}
.compass.scale .bar:nth-child(7 of .bar) {
  transform: rotate(calc(30deg - var(--heading) * 1deg));
}
.compass.scale .bar:nth-child(8 of .bar) {
  transform: rotate(calc(35deg - var(--heading) * 1deg));
}
.compass.scale .bar:nth-child(9 of .bar) {
  transform: rotate(calc(40deg - var(--heading) * 1deg));
}
.compass.scale .bar:nth-child(10 of .bar) {
  transform: rotate(calc(45deg - var(--heading) * 1deg));
}
.compass.scale .bar:nth-child(11 of .bar) {
  transform: rotate(calc(50deg - var(--heading) * 1deg));
}
.compass.scale .bar:nth-child(12 of .bar) {
  transform: rotate(calc(55deg - var(--heading) * 1deg));
}
.compass.scale .bar:nth-child(13 of .bar) {
  transform: rotate(calc(60deg - var(--heading) * 1deg));
}
.compass.scale .bar:nth-child(14 of .bar) {
  transform: rotate(calc(65deg - var(--heading) * 1deg));
}
.compass.scale .bar:nth-child(15 of .bar) {
  transform: rotate(calc(70deg - var(--heading) * 1deg));
}
.compass.scale .bar:nth-child(16 of .bar) {
  transform: rotate(calc(75deg - var(--heading) * 1deg));
}
.compass.scale .bar:nth-child(17 of .bar) {
  transform: rotate(calc(80deg - var(--heading) * 1deg));
}
.compass.scale .bar:nth-child(18 of .bar) {
  transform: rotate(calc(85deg - var(--heading) * 1deg));
}
.compass.scale .bar:nth-child(19 of .bar) {
  transform: rotate(calc(90deg - var(--heading) * 1deg));
}
.compass.scale .bar:nth-child(20 of .bar) {
  transform: rotate(calc(95deg - var(--heading) * 1deg));
}
.compass.scale .bar:nth-child(21 of .bar) {
  transform: rotate(calc(100deg - var(--heading) * 1deg));
}
.compass.scale .bar:nth-child(22 of .bar) {
  transform: rotate(calc(105deg - var(--heading) * 1deg));
}
.compass.scale .bar:nth-child(23 of .bar) {
  transform: rotate(calc(110deg - var(--heading) * 1deg));
}
.compass.scale .bar:nth-child(24 of .bar) {
  transform: rotate(calc(115deg - var(--heading) * 1deg));
}
.compass.scale .bar:nth-child(25 of .bar) {
  transform: rotate(calc(120deg - var(--heading) * 1deg));
}
.compass.scale .bar:nth-child(26 of .bar) {
  transform: rotate(calc(125deg - var(--heading) * 1deg));
}
.compass.scale .bar:nth-child(27 of .bar) {
  transform: rotate(calc(130deg - var(--heading) * 1deg));
}
.compass.scale .bar:nth-child(28 of .bar) {
  transform: rotate(calc(135deg - var(--heading) * 1deg));
}
.compass.scale .bar:nth-child(29 of .bar) {
  transform: rotate(calc(140deg - var(--heading) * 1deg));
}
.compass.scale .bar:nth-child(30 of .bar) {
  transform: rotate(calc(145deg - var(--heading) * 1deg));
}
.compass.scale .bar:nth-child(31 of .bar) {
  transform: rotate(calc(150deg - var(--heading) * 1deg));
}
.compass.scale .bar:nth-child(32 of .bar) {
  transform: rotate(calc(155deg - var(--heading) * 1deg));
}
.compass.scale .bar:nth-child(33 of .bar) {
  transform: rotate(calc(160deg - var(--heading) * 1deg));
}
.compass.scale .bar:nth-child(34 of .bar) {
  transform: rotate(calc(165deg - var(--heading) * 1deg));
}
.compass.scale .bar:nth-child(35 of .bar) {
  transform: rotate(calc(170deg - var(--heading) * 1deg));
}
.compass.scale .bar:nth-child(36 of .bar) {
  transform: rotate(calc(175deg - var(--heading) * 1deg));
}
.compass.scale .bar:nth-child(37 of .bar) {
  transform: rotate(calc(180deg - var(--heading) * 1deg));
}
.compass.scale .bar:nth-child(38 of .bar) {
  transform: rotate(calc(185deg - var(--heading) * 1deg));
}
.compass.scale .bar:nth-child(39 of .bar) {
  transform: rotate(calc(190deg - var(--heading) * 1deg));
}
.compass.scale .bar:nth-child(40 of .bar) {
  transform: rotate(calc(195deg - var(--heading) * 1deg));
}
.compass.scale .bar:nth-child(41 of .bar) {
  transform: rotate(calc(200deg - var(--heading) * 1deg));
}
.compass.scale .bar:nth-child(42 of .bar) {
  transform: rotate(calc(205deg - var(--heading) * 1deg));
}
.compass.scale .bar:nth-child(43 of .bar) {
  transform: rotate(calc(210deg - var(--heading) * 1deg));
}
.compass.scale .bar:nth-child(44 of .bar) {
  transform: rotate(calc(215deg - var(--heading) * 1deg));
}
.compass.scale .bar:nth-child(45 of .bar) {
  transform: rotate(calc(220deg - var(--heading) * 1deg));
}
.compass.scale .bar:nth-child(46 of .bar) {
  transform: rotate(calc(225deg - var(--heading) * 1deg));
}
.compass.scale .bar:nth-child(47 of .bar) {
  transform: rotate(calc(230deg - var(--heading) * 1deg));
}
.compass.scale .bar:nth-child(48 of .bar) {
  transform: rotate(calc(235deg - var(--heading) * 1deg));
}
.compass.scale .bar:nth-child(49 of .bar) {
  transform: rotate(calc(240deg - var(--heading) * 1deg));
}
.compass.scale .bar:nth-child(50 of .bar) {
  transform: rotate(calc(245deg - var(--heading) * 1deg));
}
.compass.scale .bar:nth-child(51 of .bar) {
  transform: rotate(calc(250deg - var(--heading) * 1deg));
}
.compass.scale .bar:nth-child(52 of .bar) {
  transform: rotate(calc(255deg - var(--heading) * 1deg));
}
.compass.scale .bar:nth-child(53 of .bar) {
  transform: rotate(calc(260deg - var(--heading) * 1deg));
}
.compass.scale .bar:nth-child(54 of .bar) {
  transform: rotate(calc(265deg - var(--heading) * 1deg));
}
.compass.scale .bar:nth-child(55 of .bar) {
  transform: rotate(calc(270deg - var(--heading) * 1deg));
}
.compass.scale .bar:nth-child(56 of .bar) {
  transform: rotate(calc(275deg - var(--heading) * 1deg));
}
.compass.scale .bar:nth-child(57 of .bar) {
  transform: rotate(calc(280deg - var(--heading) * 1deg));
}
.compass.scale .bar:nth-child(58 of .bar) {
  transform: rotate(calc(285deg - var(--heading) * 1deg));
}
.compass.scale .bar:nth-child(59 of .bar) {
  transform: rotate(calc(290deg - var(--heading) * 1deg));
}
.compass.scale .bar:nth-child(60 of .bar) {
  transform: rotate(calc(295deg - var(--heading) * 1deg));
}
.compass.scale .bar:nth-child(61 of .bar) {
  transform: rotate(calc(300deg - var(--heading) * 1deg));
}
.compass.scale .bar:nth-child(62 of .bar) {
  transform: rotate(calc(305deg - var(--heading) * 1deg));
}
.compass.scale .bar:nth-child(63 of .bar) {
  transform: rotate(calc(310deg - var(--heading) * 1deg));
}
.compass.scale .bar:nth-child(64 of .bar) {
  transform: rotate(calc(315deg - var(--heading) * 1deg));
}
.compass.scale .bar:nth-child(65 of .bar) {
  transform: rotate(calc(320deg - var(--heading) * 1deg));
}
.compass.scale .bar:nth-child(66 of .bar) {
  transform: rotate(calc(325deg - var(--heading) * 1deg));
}
.compass.scale .bar:nth-child(67 of .bar) {
  transform: rotate(calc(330deg - var(--heading) * 1deg));
}
.compass.scale .bar:nth-child(68 of .bar) {
  transform: rotate(calc(335deg - var(--heading) * 1deg));
}
.compass.scale .bar:nth-child(69 of .bar) {
  transform: rotate(calc(340deg - var(--heading) * 1deg));
}
.compass.scale .bar:nth-child(70 of .bar) {
  transform: rotate(calc(345deg - var(--heading) * 1deg));
}
.compass.scale .bar:nth-child(71 of .bar) {
  transform: rotate(calc(350deg - var(--heading) * 1deg));
}
.compass.scale .bar:nth-child(72 of .bar) {
  transform: rotate(calc(355deg - var(--heading) * 1deg));
}
.compass.scale .bar:nth-child(73 of .bar) {
  transform: rotate(calc(360deg - var(--heading) * 1deg));
}
.compass.scale .bar:nth-child(odd of .bar):after {
  width: 4%;
  height: 2px;
}
.compass.scale .number {
  width: 84%;
}
.compass.scale .number:nth-child(1 of .number) {
  transform: rotate(calc(90deg - var(--heading) * 1deg));
}
.compass.scale .number:nth-child(1 of .number) span {
  transform: rotate(calc(-90deg + var(--heading) * 1deg));
}
.compass.scale .number:nth-child(2 of .number) {
  transform: rotate(calc(120deg - var(--heading) * 1deg));
}
.compass.scale .number:nth-child(2 of .number) span {
  transform: rotate(calc(-120deg + var(--heading) * 1deg));
}
.compass.scale .number:nth-child(3 of .number) {
  transform: rotate(calc(150deg - var(--heading) * 1deg));
}
.compass.scale .number:nth-child(3 of .number) span {
  transform: rotate(calc(-150deg + var(--heading) * 1deg));
}
.compass.scale .number:nth-child(4 of .number) {
  transform: rotate(calc(180deg - var(--heading) * 1deg));
}
.compass.scale .number:nth-child(4 of .number) span {
  transform: rotate(calc(-180deg + var(--heading) * 1deg));
}
.compass.scale .number:nth-child(5 of .number) {
  transform: rotate(calc(210deg - var(--heading) * 1deg));
}
.compass.scale .number:nth-child(5 of .number) span {
  transform: rotate(calc(-210deg + var(--heading) * 1deg));
}
.compass.scale .number:nth-child(6 of .number) {
  transform: rotate(calc(240deg - var(--heading) * 1deg));
}
.compass.scale .number:nth-child(6 of .number) span {
  transform: rotate(calc(-240deg + var(--heading) * 1deg));
}
.compass.scale .number:nth-child(7 of .number) {
  transform: rotate(calc(270deg - var(--heading) * 1deg));
}
.compass.scale .number:nth-child(7 of .number) span {
  transform: rotate(calc(-270deg + var(--heading) * 1deg));
}
.compass.scale .number:nth-child(8 of .number) {
  transform: rotate(calc(300deg - var(--heading) * 1deg));
}
.compass.scale .number:nth-child(8 of .number) span {
  transform: rotate(calc(-300deg + var(--heading) * 1deg));
}
.compass.scale .number:nth-child(9 of .number) {
  transform: rotate(calc(330deg - var(--heading) * 1deg));
}
.compass.scale .number:nth-child(9 of .number) span {
  transform: rotate(calc(-330deg + var(--heading) * 1deg));
}
.compass.scale .number:nth-child(10 of .number) {
  transform: rotate(calc(360deg - var(--heading) * 1deg));
}
.compass.scale .number:nth-child(10 of .number) span {
  transform: rotate(calc(-360deg + var(--heading) * 1deg));
}
.compass.scale .number:nth-child(11 of .number) {
  transform: rotate(calc(390deg - var(--heading) * 1deg));
}
.compass.scale .number:nth-child(11 of .number) span {
  transform: rotate(calc(-390deg + var(--heading) * 1deg));
}
.compass.scale .number:nth-child(12 of .number) {
  transform: rotate(calc(420deg - var(--heading) * 1deg));
}
.compass.scale .number:nth-child(12 of .number) span {
  transform: rotate(calc(-420deg + var(--heading) * 1deg));
}
.compass.scale .number:nth-child(13 of .number) {
  transform: rotate(calc(450deg - var(--heading) * 1deg));
}
.compass.scale .number:nth-child(13 of .number) span {
  transform: rotate(calc(-450deg + var(--heading) * 1deg));
}
.compass.scale .digital {
  bottom: 19% !important;
}

.wind.scale .needle {
  transform: rotate(calc(var(--wind-direction) * 1deg));
  height: 65%;
}
.wind.scale .number {
  width: 90%;
}
.wind.scale .number:nth-child(1 of .number) {
  transform: rotate(90deg);
}
.wind.scale .number:nth-child(1 of .number) span {
  transform: rotate(-90deg);
}
.wind.scale .number:nth-child(2 of .number) {
  transform: rotate(135deg);
}
.wind.scale .number:nth-child(2 of .number) span {
  transform: rotate(-135deg);
}
.wind.scale .number:nth-child(3 of .number) {
  transform: rotate(180deg);
}
.wind.scale .number:nth-child(3 of .number) span {
  transform: rotate(-180deg);
}
.wind.scale .number:nth-child(4 of .number) {
  transform: rotate(225deg);
}
.wind.scale .number:nth-child(4 of .number) span {
  transform: rotate(-225deg);
}
.wind.scale .number:nth-child(5 of .number) {
  transform: rotate(270deg);
}
.wind.scale .number:nth-child(5 of .number) span {
  transform: rotate(-270deg);
}
.wind.scale .number:nth-child(6 of .number) {
  transform: rotate(315deg);
}
.wind.scale .number:nth-child(6 of .number) span {
  transform: rotate(-315deg);
}
.wind.scale .number:nth-child(7 of .number) {
  transform: rotate(360deg);
}
.wind.scale .number:nth-child(7 of .number) span {
  transform: rotate(-360deg);
}
.wind.scale .number:nth-child(8 of .number) {
  transform: rotate(405deg);
}
.wind.scale .number:nth-child(8 of .number) span {
  transform: rotate(-405deg);
}
.wind.scale .digital {
  width: 35% !important;
  bottom: 15% !important;
}

body {
  background-color: #e9f4f8;
  font-family: "Montserrat", sans-serif;
}
body header .menu-wrapper div {
  background-color: black;
  width: 35px;
  height: 5px;
  margin-bottom: 5px;
  transition: opacity 300ms ease;
}
body header .menu-wrapper:hover div {
  opacity: 0.5;
}
body header .logo {
  background-image: url(..//img/logo.jpeg);
  background-size: contain;
  width: 100px;
  height: 100px;
  box-shadow: 0 0 8px 8px #e9f4f8 inset;
}
body section.column-wrapper .center-column .center-column-inner {
  border-color: #405556 !important;
}
body section.column-wrapper .center-column .center-column-inner .map img.icona-aeroplano {
  transform-origin: center;
}
body section.column-wrapper .center-column .center-column-inner .map .marker-subtitle {
  min-width: 100px;
  top: 1em;
  left: -45px;
  text-align: center;
  min-height: 1rem;
}
body footer .route-info img {
  height: 100%;
  max-width: 35px;
}
