.widget-wrapper {
	.widget-title {
		font-size:.7rem;
	}

	.widget-inner .widget {
		padding:5px;
		font-size:.7rem;

		.scale {
			.needle {
				transition: transform 1s ease-out;
			}

			.bar::after {
				background:black;
				position:absolute;
				width:2%;
				height:1px;
				left:6px;
				content:'';
			}

			.digital {
				width:30%;
				bottom:30%;
				padding:0 4px;
			}
		}
	}
}

@import 'widgets/speedGauge';
@import 'widgets/altimeter';
@import 'widgets/vario';
@import 'widgets/compass';
@import 'widgets/wind';